.card {
    /* Set the card parameters */
    cursor: pointer;

    width: 20lvw;
    height: 42lvh;

    display: flex;
    flex-direction: column;
    gap: 0.5lvw;

    border-radius: 1.3lvw;
    border: 1px solid #DBDBDB;

    margin: 1lvw;

    /* Hide the overflow */
    overflow: hidden;

    /* For the shadow removal */
    transition-duration: 0.2s;
    
}

.card:hover {
    /* Add the shadow */
    box-shadow: 0.25lvw 0.25lvw 0.625lvw #02152614;
    transform: translateY(-4px) scale(1.01);
    transition-duration: 0.2s;
}

.card-image {
    width: 20lvw;
    height: 28.5lvh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card-image > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;

    gap: 2.8lvh;

    padding: 1.4lvh;
}

.card-major-info {
    display: flex;
    flex-direction: column;
}

.card-major-info > h1 {
    margin: 0;
}

.svg-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25lvw;
}

.svg-data > p {
    margin: 0;
}

.card-minor-info {
    display: flex;
    flex-direction: row;
    gap: 1.7lvw;
}