.btn-primary, .btn-secondary, .btn-gray {
    cursor: pointer;

    /* The size properties */
    width: max-content;
    height: 4.36lvh;

    padding: 0px 0.78lvw;

    /* Display the svg and the text */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2lvw;

    /* Border properties */
    border: 1px solid #F93B1D;
    border-radius: 0.5lvw;
    padding: 0.5lvw, 0.76lvw;

    /* Text properties */
    font-size: 0.8lvw;
    font-weight: 600; 
    color: #FFFFFF;
}

.btn-primary {
    background-color: #F93B1D;
}

.btn-primary:hover {
    background-color: #DF3014;
}

.btn-secondary {
    color: #F93B1D;
    background-color: #FFFFFF;
}

.btn-secondary > svg > path {
    fill: #F93B1D;
}

.btn-secondary:hover > svg > path {
    fill: white;
}

.btn-secondary:hover {
    color: white;
    background-color: #F93B1D;
}

.btn-gray {
    background-color: white;
    color: #808A93;
    border-color: #808A93;
}

.btn-gray:hover {
    background-color: #808A93;
    color: white;
}