header {
    /* Set the header parameters */
    height: 9lvh;
    border: 1px solid #DBDBDB;

    /* Position the Redberry logo */
    display: flex;
    align-items: center;

    padding: 0 5.2lvw;
}

header > img {
    /* Set the Redberry logo parameters */
    width: 7.8lvw;
    height: auto;

    cursor: pointer;
}