/* For App.jsx */
.App {
    margin: 0;
    padding: 0;
}

.btn-group {
    display: flex;
    flex-direction: row;
    gap: 1lvw;
}

.filter-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 5.2lvw;
    margin-right: 5.2lvw;
    margin-top: 1.85lvh;
}