/* The page itself */
.listing-page {
    margin: 3lvw;
}

.return-button > svg {
    cursor: pointer;

    margin-bottom: 2lvh;
}

/* The listing div */
.listing {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 5lvw;
}

/* The image */

.img-and-date {
    display: flex;
    flex-direction: column;
    align-items: end;

    width: 44lvw;
    height: 64lvh;
}

.img-and-date > p {
    color: #808A93;
    font-size: 0.8lvw;
    font-weight: 400;
}

.img-and-sale { 
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
    border-radius: 1.5lvw 1.5lvw 0 0;
}

.img-and-sale > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.img-and-sale > p {
    position: absolute;
    left: 1.5lvw;
    top: 1lvw;

    background-color: rgba(2, 21, 38, 0.75);
    padding: 0.5lvw 1lvw;

    color: white;
    border-radius: 1lvw;
}

/* The information about the listing */

.lesser-information { 
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lesser-information > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5lvw;

    margin: 0.5lvh;
    color: #808A93;
}

.lesser-information > p > p {
    margin: 0;
}

.listing-desc {
    margin: 5lvh 0;
    width: 26.5lvw;
    height: max-content;

    color: #808A93;
    line-height: 1.2lvw;
}

/* The agent card css */

.agent-card {
    border: 1px solid #DBDBDB;
    border-radius: 0.5lvw;
    padding: 1lvw;

    display: flex;
    flex-direction: column;
    gap: 1lvh;
}

.agent-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5lvw;
}

.agent-top > img {
    width: 3.75lvw;
    height: 3.75lvw;

    border-radius: 50%;

    object-fit: cover;
}

.agent-name {
    display: flex;
    flex-direction: column;
    gap: 0.25lvh;
}

.agent-name > * {
    margin: 0;
}

.agent-name > p {
    font-size: 0.7lvw;
    color: #676E76;
}

.agent-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.25lvh;
}

.agent-bottom > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25lvw;

    margin: 0;
    color: #808A93;
}

/* The button */

.listing-info > button {
    margin-top: 3lvh;
}

/* The are you sure? div */
.confirm-out {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.confirm-inside {
    position: relative;

    width: 33lvw;
    height: 10lvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 1lvw;
    background-color: white;

    font-size: 1lvw;
}

.confirm-inside > svg {
    position: absolute;
    top: 1lvw;
    right: 1lvw;

    cursor: pointer;
}

/* The card scroll */
.listing-scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.listing-scroll > svg {
    cursor: pointer;
}

.listing-scroll > .all-cards {
    justify-content: space-evenly;
}

.listing-scroll > .all-cards > .card {
    width: 18lvw;
}

/* Blocked svg */

.svg-blocked {
    cursor: default !important;
}

.svg-blocked > path {
    fill: #02152666;
}