.filter-component {
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.26lvw;

    padding: 0.26lvw;
    border-radius: 0.26lvw;

    font-size: 0.8lvw;

    font-weight: 600;
}

.filter-component-active {
    background-color: #F3F3F3;
}

.filter-component-active > svg {
    transform: rotate(180deg);
}

.filter-component-dropdown {
    position: absolute;
    top: 0;
    left: 0;
}